body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  font-size: 1em;
}

address {
  font-style: normal;
}

body {
  background: linear-gradient(90deg, #6f6864 29px, transparent 1%) center, linear-gradient(#6f6864 29px, transparent 1%) center, #ffe1cc;
  background-size: 30px 30px;
  color: #111;
  font-family: "Montserrat", sans-serif;
}

.CV {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8a817c;
  padding: 1rem 5vw;
}
.CV__header {
  color: #ffe1cc;
}
.CV__pic {
  width: 230px;
  height: 230px;
  box-shadow: -10px -10px 0 0 #ffe1cc;
  transition: opacity 200ms;
}
.CV__pic:hover {
  opacity: 0.9;
}
.CV__contact, .CV__education, .CV__skills, .CV__languages, .CV__work, .CV__hobbies {
  width: 100%;
}
.CV__section-item {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}
.CV__section-text {
  width: 100%;
  flex: 1 0 50%;
}
.CV__section-text:nth-child(1) {
  font-weight: bold;
}
.CV__section-text:nth-child(2) {
  text-align: right;
}
.CV__hobbies {
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "h ." "p1 p1" "p2 p2";
}
.CV__hobbies-heading {
  grid-area: h;
}
.CV__hobbies-p1 {
  grid-area: p1;
}
.CV__hobbies-p2 {
  grid-area: p2;
}
.CV__hobbies-dog {
  grid-area: dog;
  display: none;
}
.CV__socials {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.CV__socials-svg {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  border-radius: 50%;
  transition: background-color 200ms;
}
.CV__socials-svg:hover {
  background-color: #ffe1cc;
}
.CV__socials-download {
  transition: color 200ms;
}
.CV__socials-download:hover {
  cursor: pointer;
  color: #ffe1cc;
}

.nav {
  display: none;
}

@media only screen and (min-width: 500px) {
  .CV__hobbies {
    grid-template-areas: "h ." "p1 dog" "p2 dog";
  }
  .CV__hobbies-dog {
    display: initial;
    justify-self: center;
    align-self: center;
    width: 210px;
    height: 210px;
  }
}
@media only screen and (min-width: 850px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .CV {
    background: linear-gradient(to bottom left, #8a817c 50%, #a29b97 50%);
    flex-direction: row;
    position: relative;
    padding: 25px;
    height: 500px;
    width: 800px;
  }
  .CV__header {
    position: absolute;
    right: calc(25px + 1rem);
    top: 2rem;
  }
  .CV__pic {
    grid-area: pic;
    justify-self: center;
  }
  .CV__contact, .CV__education, .CV__skills, .CV__languages, .CV__work, .CV__hobbies {
    display: none;
    margin: 0.5rem 1rem;
  }
  .CV__hobbies {
    grid-template-areas: "h dog" "p1 dog" "p2 dog";
  }
  .CV__socials {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .nav {
    display: initial;
  }
  .nav__list {
    background-color: #ffe1cc;
    height: 550px;
  }
  .nav__item {
    height: 16.6666666667%;
  }
  .nav__btn--contact, .nav__btn--education, .nav__btn--skills, .nav__btn--languages, .nav__btn--work, .nav__btn--hobbies {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    font-weight: bold;
    transition: background-color 200ms;
  }
  .nav__btn--contact:hover, .nav__btn--education:hover, .nav__btn--skills:hover, .nav__btn--languages:hover, .nav__btn--work:hover, .nav__btn--hobbies:hover {
    background-color: #ffd2b3;
  }
}
.show-section {
  display: grid;
}

.select-btn {
  background-color: #ffd2b3;
}

/*# sourceMappingURL=style.css.map */
